.block-container.st-emotion-cache-gh2jqd.ea3mdgi5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.st-emotion-cache-6qob1r.eczjsme3 {
  background-color: rgba(0, 52, 143, 0.066);
}

.st-emotion-cache-1r6slb0.e1f1d6gn3 {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.st-emotion-cache-10trblm.e1nzilvr1 {
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.st-emotion-cache-ocqkz7.e1f1d6gn5 .st-emotion-cache-cnbvxy.e1nzilvr5 p {
  color: rgb(138, 184, 221);
  font-size: 35px;
}

.st-as.st-cq.st-cr.st-cs.st-ct.st-cu.st-cv {
  display: flex;
  justify-content: center;
  align-items: center;
}
